---
layout: layouts/home.njk
permalink: /testerBlog/
eleventyNavigation:
  key: Contact Us
  order: 4
---

<h1>I'd <i class="bi bi-suit-heart-fill"></i> to hear from you!</h1>

<p>Fill in the form below and get in touch with us</p>

<link href="index.css" rel="stylesheet">

<div class="fcf-body">

    <div id="fcf-form">
    <h3 class="fcf-h3">Contact us</h3>

    <form name="contact" method="POST" data-netlify="true">
  <p>
    <label>First Name: <input type="text" name="first" /></label>   
  </p>
  <p>
    <label>Last Name: <input type="text" name="last" /></label>   
  </p>
  <p>
    <label>Your Email: <input type="email" name="email" /></label>
  </p>
  <p>
    <label>Message: <textarea name="message"></textarea></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>
    </div>

</div>

</body>
