---
layout: layouts/base.njk
templateClass: tmpl-blog
---
<h1>{{ title }}</h1>
<p>
  <span style="font-weight: bold;">Rating:</span>
  {{ "3" }}
</p>
<img src="{{ thumbnail | url }}"/>
{{ content | safe }}

<hr>
<ul>
</ul>
{%- endif %}
