---
layout: layouts/base.njk
templateClass: tmpl-blog
---
<h1>{{ title }}</h1>
<p>
  <span style="font-weight: bold;">Rating:</span>
  {{ "3" }}
</p>
<img src="{{https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.start-business-online.com%2Feasy-guide-starting-online-blog-a-30.html&psig=AOvVaw11QsAvREVU7FHZ0wjZa1bO&ust=1625413998142000&source=images&cd=vfe&ved=0CAoQjRxqFwoTCLDF0pmmx_ECFQAAAAAdAAAAABAD}}"/>
{{ content | safe }}

<hr>
<ul>
</ul>
{%- endif %}
